#addcomment{
    margin-right: 20px;
    margin-left: 20px;
}

.table {
    background-color: #fff;
}

.pin-icon{
    filter: invert(94%) sepia(92%) saturate(3203%) hue-rotate(320deg) brightness(92%) contrast(98%);
    width: 25px;
    stroke: #646464;
    stroke-width: 1px;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
}

.rating{
    width:11%;
}

.username{
    width:12%;
}

.body{
    width:60%;
}

.btn-downvote.active {
    background-color: red;
}

.btn-upvote.active {
    background-color: green;
}

#artwork-stuff{
    display: flex; 
    height: 150px;
    margin-bottom: 10px;
    align-items: center; 
    /* vertically center items? */
}

#artwork {
    vertical-align: middle;
    margin-bottom: 10px;
    height: 150px;
}

#artwork-info{
    vertical-align: middle;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    /* width: auto; */
    flex-grow: 1;
    text-align: left;
    padding-left: 10px;
}

#sort-buttons-container{
    flex-grow: 1;  /* might have to change */
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    align-items: bottom; 
}

.staff-stuff {
    display: none;
}

#login-button{
    margin: 10px;
}

#logout-button {
    margin: 10px;
}